/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box; /* Avoids out of box */
}

body {
  margin: 0;
  font-family: Roboto;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.input-group {
  margin: 10px 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 25px 40px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 400px;
  height: 750px;
}

.login-form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.login-form input {
  width: 100%;
  padding: 12px 40px 12px 36px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.login-form input::placeholder {
  color: #ddd;
}

.login-form .forgot {
  display: block;
  text-align: right;
  font-size: 0.9em;
  color: #eee;
  margin-bottom: 20px;
  text-decoration: none;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #43cea2, #185a9d);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
  color: #ffffff;
}

.signup-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.signup-link {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1em;
}

.input-icon i.fa-user {
  left: 12px;
  pointer-events: none;
}

.input-icon i.fa-lock {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1em;
  pointer-events: none; /* Non clickable */
}

.input-icon i#togglePassword {
  position: absolute;
  top: 50%;
  right: 12px;  
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1em;
  cursor: pointer;  
  z-index: 2;   /* On top of input */
}

.alternative-loggin {
  padding-top: 180px;
}
